body {
    font: 20px verdana, sans-serif;
}

.column-style{
   
}

.column-header {
    border: 1px solid black;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-weight: bold;   
}

.column-content {
    border: 1px solid black;
}

.card{
    border: 1px solid gray;
    margin: 15px;
}

.card-title{
    font-weight: bold;
}

.title-styles{
    background-color: lightgray;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.card-text{
    padding-left: 3px;
}


.addition{
    width: 290px;
    border: 1px solid gray;
    padding: 5px;
    background-color: black;
}

.kanban-form {
    display: none;
}

.btns-card-form{
    text-align: right;
}

.cancel-btn {  
    margin-left: 10px;
}
.add-to-btn{

}

